<!DOCTYPE html>
<html lang="en">

include ../../fragments/head.pug

  <body id="body" class="dark:bg-zinc-900 dark:text-white bg-zinc-200 text-gray-600 work-sans leading-normal text-base tracking-normal">

  include ../../fragments/navbar
  include ../../fragments/carrousel
  include ../../fragments/catalogo-banner
  include ../../fragments/featured-products
  include ../../fragments/contact-us
  include ../../fragments/about-us
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="../../js/script.js"></script>
    <script type="module" src="/public/js/products-functions.js"></script>
  </body>

</html>